{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": "off"
  },
  "env": {
    "browser": true
  }
}
