{
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off",
    "no-unused-expressions": ["error", { "allowShortCircuit": true }]
  },
  "env": {
    "browser": true
  }
}
