.react-datepicker__current-month {
  opacity: 0.9;
  font-family: GTWalsheimPro;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.7;
  letter-spacing: normal;
  text-align: center;
  color: #1c202e;
}
.react-datepicker__header {
  background-color: #ffffff;
}
.react-datepicker__day {
  opacity: 0.8;
  font-family: GTWalsheimPro;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1c202e;
}
.react-datepicker__day--selected {
  border-radius: 25px;
  background-color: #ff3378;
  color: #fff;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover {
  background-color: #ffccdd;
  border-radius: 25px;
}
.react-datepicker__day-name {
  font-family: GTWalsheimPro;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #aeb1b8;
}
